<div class="jumbotron">
  <div class="row" id="logorow">
    <img id="logo" src="assets/images/logo.png">
    <div id="title">
      <p>The <b id="fat">J</b>uicy <b id="fat">B</b>alls <b id="fat">B</b>eerpong <b id="fat">C</b>lub</p>
    </div>
    <a href="https://www.facebook.com/groups/1565507883574763/"><img id="fb" src="assets/images/facebook.png"></a>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h2><strong>Introduction</strong></h2>
      <hr>
      <h4>About us:</h4> Members of the <b>J</b>uicy <b>B</b>alls <b>B</b>eerpong <b>C</b>lub have dedicated their lives to one
      purpose and one purpose only: <b>Beerpong</b> <br>We are the leading force in terms of making Beerpong a respected
      olympic discipline.<br> Also, we like drinking beer.
      <hr>
      <h4>Founders:</h4> Matthias aka <b>"Chilla"</b>, Sebastian aka <b>"Wastl"</b>
      <hr>
      <h4>Founded in:</h4>
      May 2018 (previous amateur career since ~2010)
      <hr>
      <h4>Achievements</h4>
      <div class="achievements">
        <ul>
          <li>Never lost a game to Simon aka <b>"BEAST"</b> and Mario aka <b>"Princess"</b></li>
          <li>Seriousely...<b>NEVER</b></li>
          <li>Most likely won every game at Schakalaka 2015/2016</li>
          <li>Most likely won every game <b>period</b>!</li>
        </ul>
      </div>
      <hr>
      <br>
    </div>

    <div class="col-md-6">
      <h2><strong>Recent Activities</strong></h2>
      <hr>
      <div class="row">
        <div class="col-md-6">
          1st Training camp June
          <carousel>
            <slide>
              <img src="assets/carousel1/image1.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/carousel1/image6.jpeg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/carousel1/image3.jpeg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/carousel1/image4.jpeg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/carousel1/image5.jpeg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/carousel1/image2.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
          </carousel><br>
        </div>
        <div class="col-md-6">
          2nd Training camp June
          <carousel>
            <slide>
              <img src="assets/images/image.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
        </div>
      </div>
      <hr>
      <h2><strong>Upcoming Events</strong></h2>
      <a href="#"><b>2nd Training camp June 2018</b></a> <br>
      <a href="#"><b>Training camp July 2018</b></a> <br>
      <a href="https://www.facebook.com/events/327092234415454/445682782556398"><b>Schakalaka 2018</b></a>
    </div>
  </div>
</div>